.field-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 2em 0;
}

.form-label {
  font-weight: bold;
  color: var(--gray-800);
  margin-bottom: 0.5em;
}

.form-input {
  background-color: var(--gray-100);
  width: fit-content;
  min-width: 100px;
  padding: 0.5em;
  border-radius: var(--border-radius-sm);
}
